@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 8s linear infinite;
  display: flex;
  width: max-content;
}